<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4" (click)="openDialog()">
    Nueva tarea
  </button>
  
  <div class="grid grid-cols-4 gap-4">
    <!-- Columna 1: Tareas -->
    <div class="flex flex-col">
      <div class="text-white text-center bg-black bg-opacity-50 rounded p-2 mb-2">
        <span class="font-bold">Tareas</span>
      </div>
      
      <div class="space-y-4">

        @for (item of tasks; track $index) {
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ item.title }}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ item.description }}</p>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{ item.dueDate }}</p>

            </a>
        }
        
      </div>
    </div>
  
    <!-- Columna 2: Por Hacer -->
    <div class="flex flex-col">
      <div class="text-white text-center bg-black bg-opacity-50 rounded p-2 mb-2">
        <span class="font-bold">Por Hacer</span>
      </div>
      
      <div class="space-y-4">
        <!-- Cards para "Por Hacer" -->
        @for (item of taskPending; track $index) {
          <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{item.title}}</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{item.description}}</p>
          </a>
        }
      </div>
    </div>
  
    <!-- Columna 3: Completadas -->
    <div class="flex flex-col">
      <div class="text-white text-center bg-black bg-opacity-50 rounded p-2 mb-2">
        <span class="font-bold">Completadas</span>
      </div>
      
      <div class="space-y-4">
        <!-- Cards para "Completadas" -->
        <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tarea completada</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Descripción de la tarea completada.</p>
        </a>
      </div>
    </div>

    <!-- Columna 4: Tareas vencidas -->
    <div class="flex flex-col">
      <div class="text-white text-center bg-black bg-opacity-50 rounded p-2 mb-2">
        <span class="font-bold">Tareas vencidas</span>
      </div>
      
      <div class="space-y-4">
        <!-- Cards para "vencidas" -->
        <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tarea completada</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Descripción de la tarea completada.</p>
        </a>
      </div>
    </div>
  </div>