.main-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 51%, rgba(22, 22, 96, 1) 100%, rgb(4, 117, 139) 100%);
    min-height: 100vh;
    padding: 20px;
}